.side-bar {
    background-color: #272727;
    color: white;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.project-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.project {
    background-color: #ccc;
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    margin: 15px;
}
